Source: aprx
Section: hamradio
Priority: extra
Maintainer: HAM APRX release  maintenance <aprx@ham>
Build-Depends: debhelper (>= 4)
Standards-Version: 3.7.2

Package: aprx
Architecture: any
Depends: ${shlibs:Depends}
Description: APRS Digipeater and iGate
 Aprx is an APRS specific Digipeater and iGate.
 It supports multiple KISS-TNCs on serial ports  and listening 
 to any kernel AX.25 network interfaces.
 .
 Additional features include a built-in "erlang-monitor" to analyze
 activity level of radio channels.
 .
 This software requires a valid (and unique) ham radio callsign to
 operate fully and is therefore useful mainly for licensed radio
 amateurs.

